/* GENERAL */
    :root {
      --blue-color: #1F46A6;
      --light-color: #ebf0f1;
      --dark-color: #292a2c;
      --beige-color: #fdf4e3;
      --beige-fonce: #968264;
    }

    body {
      font-family: "Open Sans", sans-serif;
      color: var(--dark-color);
      letter-spacing: 0.05em !important;
      font-size: 16px !important;
      line-height: 1.5 !important;
      background-color: white;
      overflow-x: hidden; 
      scroll-behavior: smooth; 
    }

    a {
      text-decoration: none !important;
      color: inherit !important;
    }

    a:focus {
      outline: 2px dashed var(--blue-color);
    }



    .section {
        padding: 70px 16px !important;
    }

    h3::before {
      display: block;
      content: " ";
      margin-top: -100px;
      height: 100px;
      visibility: hidden;
      pointer-events: none;
    }

    .container {
      max-width: 1140px !important;
    }

    .bg-white {
      background-color: white;
  }

    .bg-light-color   {
        background-color: var(--light-color);
    }

    .bg-beige {
      background-color: var(--beige-color);
  }

    .bg-blue {
      background-color: var(--blue-color) !important;
      color: white !important;
    }

    .black {
      color: var(--bs-body-color) !important;
    }

    p {
      text-align: justify;
    }

    .illustration-img{
      background-size: cover;
      background-position: center;
      max-width: 100%;
      object-fit: cover;
    }

    @media(max-width: 768px) {
      .illustration-img {
        min-height: 250px;
      }
      .col-right {
        margin-top: 32px !important;
      }
    }

/* NAVBAR  */
.navbar-lewagon {
    justify-content: space-between;
    position: sticky !important;
    top: 0;
    left: 0;
    right: 0;
    background-color: white !important;
    z-index: 1000;
    padding: 0 4vw !important;
  }

  .navbar-lewagon .navbar-collapse {
    flex-grow: 0;
  }

  .navbar-nav {
    align-items: center;
    padding: 16px 0 !important;
  }

  .nav-item {
    margin: 0 0 16px 0 !important;
    border-bottom: 1px solid #dee2e6 !important;
    padding: 16px 0 !important;
    min-width: 500px;
  }

  .navbar-nav {
    border-top: 1px solid #dee2e6 !important;
  }

 
  .navbar-brand, h1, h2, h3, h4 {
    color: #334E59 !important;
  }
  
  .navbar-brand img {
    width: 100px;
  }

  .nav-link {
    text-transform: uppercase;
    cursor: pointer;
    padding: 0 !important;
    color: var(--dark-color);
  }

  .navbar-toggler, .navbar-toggler:hover {
    border: none !important;
  }

  .navbar-nav {
      align-items: start;
  }

  @media(min-width: 992px) {
    .navbar-brand img {
      width: 150px;
    }
  }


/*  SPLI COLUMNS  */

  .split {
    display: flex;
    flex-direction: column;
    grid-row-gap: 30px;
  }

  .split-media-container {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-height: 250px;
  }

  .split-media-container img {
    object-fit: cover;
    object-position: 50% 50%;
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0% 0% auto;
  }

  @media(min-width: 992px) {
    .split {
      flex-direction: row;
      grid-column-gap: 30px;
    }
    .split-infos {
      width: 75%;
    }
    .split-media-container {
      width: 25% !important;
      min-height: 100% !important;
      position: relative
    }
    .split-media-container img {
      position: absolute;
      height: 100% !important;
      width: 100% !important;
      max-width: 100%;
      object-fit: cover;
    }
    .lg-reverse {
      flex-direction: row-reverse;
    }
  }

   /* HERO SECTION */

   .hero-section {
    padding: 24px
  }

  #hero-split-infos {
    background-color: white;
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #hero-split-media-container {
    margin-top: 24px;
  }

  @media(min-width: 992px) {
    .hero-section {
      padding: 50px;
    }
    #hero-split-media-container {
      width: 50% !important;
      margin: 0 !important;
    }
    #hero-split {
      height: calc(100vh - 250px);
      grid-gap: 50px;
      display: flex;
      max-width: 1140px;
      margin: 0 auto;
    }
    #hero-split-infos {
      width: 50%;
    }
    #hero-split-media-container {
      width: 50%;
      margin-top: 0 !important;
    }
  }

  .icon {
    width: 30px !important;
    height: 30px !important;
  }

 /* HEADINGS  */

 h1, h2, h3, h4 {
  color: var(--dark-color);
  line-height: 2 !important;
  color: var(--blue-color) !important;
}

 h1 {
    margin: 0;
    color: white;
    font-size: 1.9em !important;
    font-weight: bold;  }
  
  h2 {
    font-size: 2.3em !important;
    text-align: center;
    line-height: 1.5em !important;
    font-weight: 400 !important;
  }

  h3 {
    font-size: 2em !important;
  }


  .carousel-indicators [data-bs-target]{
    background-color: var(--blue-color) !important; 
    width: 8px;
    height: 8px;
    border-radius: 50%;
  }

  .short-line {
    height: 8px;
    width: 48px;
    margin-bottom: 32px;
  }

  /* BUTTONS */

  .btn {
    padding: 8px 16px !important;
    text-transform: uppercase;
    border-radius: 0 !important;
    transition: background 0.3s ease;
  }

  .btn-flat, .btn-light:hover {
    color: white !important;
    background: var(--blue-color) !important;
    border: 2px solid var(--blue-color)
  }
  
  .btn-light, .btn-flat:hover, .btn-beige:hover{
    color: var(--blue-color) !important;
    background-color: white !important;
    border: 2px solid var(--blue-color)
  }

  .btn-beige {
    color: var(--dark-color) !important;
    border: 2px solid var(--beige-color);
    background-color: var(--beige-color) !important;
    border-radius: 8px !important
  }

  /* ABOUT SECTION */

  .portrait {
    max-width: 100%;
    object-fit: contain;
  }

  /* ACTIVITIES SECTION  */
  details {
      margin-bottom: 24px
  }

  summary {
      padding: 16px;
      width: 100%;
      list-style: none;
      display: flex !important;
      cursor: pointer;
      justify-content: space-between;
      align-items: start;
      background-color: white;
      font-weight: 600;
      text-transform: uppercase;
      font-size: 1.2em;
      color: var(--blue-color)
  }

  summary i {
      margin-left: 12px;
  }

  summary::-webkit-details-marker {
      display: none;
  }

  .expertise-detail {
      background-color: white !important;
      padding: 16px 16px 16px 32px;
      border-top: 2px solid #dee2e6;
      opacity: 0.8;
  }
  details[open] > summary{
      max-width: none !important;
  }

  ul {
    margin-bottom: 0 !important
  }

    /* ACTUALITIES SECTION */

  #actualites-container .news-cards {
    max-width: 800px;
  }

  .news-cards {
    background: white;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    padding: 24px;
    line-height: 1.6em;
    font-size: 15px;
    margin: 0 auto;
  }

  .news-card {
    padding: 16px
  }
    
  .news-card:hover {
    background-color: var(--light-color)
  }

  .news-card .title {
    font-weight: 500;
  }
  .news-card .subtitle {
    color: var(--beige-fonce)
  }

  @media(min-width: 992px) {
    .news-block {
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    }
    .news-cards {
      box-shadow: none !important;
    }
  }

  /* CONTACT SECTION */

  .contact-container {
    background: #ebf0f1;
    padding: 24px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    display: flex; 
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  a.mapboxgl-ctrl-logo, .mapboxgl-ctrl-bottom-right {
    display: none !important;
  }

  .legal {
    font-size: 0.7em;
    padding: 16px;
    opacity: 0.7;
    text-align: center;
    line-height: 2em;
  }

/* MEDIA QUERIES */

@media(min-width: 992px) {
  body {
    text-align: justify !important;
  }
  .section {
    padding: 70px 30px !important;
  }
  #hero-section {
    padding: 70px 4vh !important;
  }
  .nav-item {
    margin: 0 16px !important;
    border: none !important;
    min-width: 0px;
  }
  .navbar-nav {
    border: none !important;
    align-items: center !important;
  }
  .nav-link:hover {
    border-bottom: 2px solid;
  }
  .contact-container {
    margin-right: 32px;
  }

}

hr {
  margin: 0 !important
}