/* GENERAL */
    :root {
      --blue-color: #1F46A6;
      --light-color: #ebf0f1;
      --dark-color: #292a2c;
      --beige-color: #fcf4e3;
    }

    body {
        font-family: "Poppins", serif !important;
        color: var(--dark-color);
        letter-spacing: 0.05em !important;
        font-size: 16px !important;
        line-height: 1.7 !important;
        background-color: white;
        overflow-x: hidden; 
        scroll-behavior: smooth; 
    }

    a {
      text-decoration: none !important;
      color: inherit !important;
    }

    a:focus {
      outline: 2px dashed var(--blue-color);
    }



    .section {
        padding: 70px 12px !important;
    }

    h3::before {
      display: block;
      content: " ";
      margin-top: -100px;
      height: 100px;
      visibility: hidden;
      pointer-events: none;
    }

    .container {
      max-width: 1200px !important;
    }

    .bg-light {
        background-color: var(--light-color);
    }

    .bg-beige {
      background-color: var(--beige-color);
  }

    .bg-blue {
      background-color: var(--blue-color) !important;
      color: white !important;
    }

    .illustration-img{
      background-size: cover;
      background-position: center;
      max-width: 100%;
      object-fit: cover;
    }

    @media(max-width: 768px) {
      .illustration-img {
        min-height: 400px;
      }
      .col-right {
        margin-top: 32px !important;
      }
    }

/* NAVBAR  */
.navbar-lewagon {
    justify-content: space-between;
    position: sticky !important;
    top: 0;
    left: 0;
    right: 0;
    background-color: white !important;
    z-index: 1000;
    padding: 0 4vw !important;
  }

  .navbar-lewagon .navbar-collapse {
    flex-grow: 0;
  }

  .navbar-nav {
    align-items: center;
    padding: 16px 0 !important;
  }

  .nav-item {
    margin: 0 0 16px 0 !important;
    border-bottom: 1px solid #dee2e6 !important;
    padding: 16px 0 !important;
    min-width: 500px;
  }

  .navbar-nav {
    border-top: 1px solid #dee2e6 !important;
  }

 
  .navbar-brand, h1, h2, h3, h4 {
    color: #334E59 !important;
    font-family: "Lora", serif !important;
    font-weight: 400 !important;
  }

  .navbar-brand-title {
    font-size: 1em !important;
    font-weight: 500 !important;
  }

  .navbar-brand-subtitle {
    font-size: 0.7em !important;
    font-weight: 400 !important;
    text-transform: uppercase;
  }
  
  .navbar-brand img {
    width: 40px;
  }

  .nav-link {
    text-transform: uppercase;
    cursor: pointer;
    padding: 0 !important;
    color: var(--dark-color);
  }

  .navbar-toggler, .navbar-toggler:hover {
    border: none !important;
  }

  .navbar-nav {
      align-items: start;
  }

  /* HERO SECTION */

  #hero-section {
    padding: 12px 12px;
    display: flex; 
    align-items: center;
    justify-content: center;
  }

  #hero-section img {
    background-size: cover;
    background-position: center;
  }

  #hero-content {
    background-color: white; 
    padding: 80px 30px;
    height: 100%;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .banner {
    padding: 32px 16px;
    background-color: white;
    opacity: 0.9;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 600px;
    margin: 0 auto;
  }

  .hero-cards {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 16px;
  }
  
  @media (min-width: 768px) {
    .hero-cards {
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 16px;
    }
  }
  .hero-card {
    background-color: white;
    padding: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-weight: bold;
    overflow: hidden;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
  }

  .hero-card h2 {
    font-size: 1.2em !important;
    line-height: 1.6em !important;
  }

  .hero-card img {
    height: 200px;
    width: 100%;
    background-size: cover;
    background-position: center;
    margin-bottom: 16px
  }

  /* .hero-card h2 {
    color: white !important;
  } */

 /* HEADINGS  */

 h1, h2, h3, h4 {
  color: var(--dark-color);
  line-height: 2 !important;
  color: var(--blue-color) !important;
}

 h1 {
    margin: 0;
    color: white;
    font-size: 1.9em !important;
    font-weight: bold;  }
  
  h2 {
    font-size: 1.3em !important;
  }

  h3 {
    font-size: 2em !important;
  }


  .carousel-indicators [data-bs-target]{
    background-color: var(--blue-color) !important; 
    width: 8px;
    height: 8px;
    border-radius: 50%;
  }

  .short-line {
    height: 8px;
    width: 48px;
    margin-bottom: 32px;
  }

  /* BUTTONS */

  .btn-flat {
    color: white !important;
    padding: 4px 12px !important;
    background: var(--blue-color) !important;
    transition: background 0.3s ease;
    text-transform: uppercase;
    border-radius: 0 !important;
    border: 2px solid var(--blue-color)
  }
  
  .btn-flat:hover {
    color: var(--blue-color) !important;
    background-color: white !important;
    border: 2px solid var(--blue-color)
  }

  /* ABOUT SECTION */

  .portrait {
    max-width: 100%;
    object-fit: contain;
  }

  /* ACTIVITIES SECTION  */
  details {
      margin-bottom: 24px
  }

  summary {
      padding: 16px;
      width: 100%;
      list-style: none;
      display: flex !important;
      cursor: pointer;
      justify-content: space-between;
      align-items: start;
      background-color: white;
      font-weight: 600;
  }

  summary:hover {
    color: white !important;
    background-color: var(--blue-color) !important;
  }


  summary i {
      margin-left: 12px;
  }

  summary::-webkit-details-marker {
      display: none;
  }

  .activity-detail {
      background-color: white !important;
      padding: 16px;
      border-top: 2px solid #dee2e6;
  }
  details[open] > summary{
      max-width: none !important;
  }

    /* ACTUALITIES SECTION */
  .news-cards {
    background: white;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    padding: 24px;
    line-height: 1.6em;
    font-size: 15px;
  }
    
  .news-card .subtitle {
    opacity: .7;
  }

  /* CONTACT SECTION */

  .contact-container {
    background: #ebf0f1;
    padding: 24px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    opacity: 0.9;
    height: 300px;
    display: flex; 
    justify-content: center;
    flex-direction: column;
    
  }

  a.mapboxgl-ctrl-logo, .mapboxgl-ctrl-bottom-right {
    display: none !important;
  }

  .legal {
    font-size: 0.7em;
    padding: 16px;
    opacity: 0.7;
    text-align: center;
    line-height: 2em;
  }

/* MEDIA QUERIES */

  @media(max-width: 992px) {
  #cabinet-row {
    display: flex;
    flex-direction: row-reverse;
  }
  #cabinet-row img {
    margin-top: 4vh !important;
  }
}

@media(min-width: 992px) {
  body {
    text-align: justify !important;
  }
  .section {
    padding: 70px 4vw !important;
  }
  #hero-section {
    padding: 70px 4vh !important;
  }
  .nav-item {
    margin: 0 16px !important;
    border: none !important;
    min-width: 0px;
  }
  .navbar-nav {
    border: none !important;
    align-items: center !important;
  }
  .nav-link:hover {
    border-bottom: 2px solid;
  }
  .contact-container {
    margin-right: 32px;
  }
}
